// Animations

// Fade in Up
.fadeInUp{
animation:fadeInUp 1.3s;
animation-timing-function: ease-in-out;
-webkit-animation:fadeInUp 1.3s; /* Safari and Chrome */
-webkit-animation-timing-function: ease-out;
animation-delay:1s;
    opacity: 0;
    -webkit-animation: fadeInUp 0.5s ease 0.5s forwards;
	-moz-animation: fadeInUp 0.5s ease 0.5s forwards;
	-o-animation: fadeInUp 0.5s ease 0.5s forwards;
	animation: fadeInUp 0.5s ease 0.5s forwards;
}

@keyframes fadeInUp
{
0% {opacity: 0; /*margin-top: (40px);*/}
100% {opacity: 1; margin-top: (0);}
}

@-webkit-keyframes fadeInUp /* Safari and Chrome */
{
0% {opacity: 0; /*margin-top: (40px);*/}
100% {opacity: 1;  margin-top: (0);}
}

//Up and Down

.upAndDown{
animation:upAndDown 2s infinite;
animation-timing-function: ease-in-out;
-webkit-animation:upAndDown 1.3s infinite; /* Safari and Chrome */
}

@keyframes upAndDown
{
0% {opacity: 0;}
50% {opacity: 1;}
100% {opacity: 0;}
}

@-webkit-keyframes upAndDown /* Safari and Chrome */
{
0% {opacity: 0;}
50% {opacity: 1;}
100% {opacity: 0;}
}

//Rotation

.upAndDown{
animation:upAndDown 2s infinite;
animation-timing-function: ease-in-out;
-webkit-animation:upAndDown 1.3s infinite; /* Safari and Chrome */
}

@keyframes upAndDown
{
0% {opacity: 0;}
50% {opacity: 1;}
100% {opacity: 0;}
}

@-webkit-keyframes upAndDown /* Safari and Chrome */
{
0% {opacity: 0;}
50% {opacity: 1;}
100% {opacity: 0;}
}

.pulse{
animation:pulse 2s infinite;
animation-timing-function: ease-in-out;
-webkit-animation:pulse 1.3s infinite; /* Safari and Chrome */
}

@keyframes pulse
{
0% {height: auto; width:60%;}
50% {height: auto; width:85%;}
100% {height: auto; width:60%;}
}

@-webkit-keyframes pulse /* Safari and Chrome */
{
0% {height: auto; width:60%;}
50% {height: auto; width:85%;}
100% {height: auto; width:60%;}
}

.popIn{
animation:popIn 2s infinite;
animation-timing-function: ease-in-out;
-webkit-animation:popIn 1s; /* Safari and Chrome */
}

@keyframes popIn
{
0% {height: auto; width:0%; -webkit-filter: blur(10px);}
80% {height: auto; width:85%; -webkit-filter: blur(10px);}
100% {height: auto; width:60%; -webkit-filter: blur(0px);}
}

@-webkit-keyframes popIn /* Safari and Chrome */
{
0% {height: auto; width:0%; -webkit-filter: blur(10px);}
80% {height: auto; width:85%; -webkit-filter: blur(10px);}
100% {height: auto; width:60%; -webkit-filter: blur(0px);}
}