// Link styles
a:link {
	text-decoration: none;
	color: $red;
}

a:hover {
	color: $red-dark;
	text-decoration: none;
	opacity: 0.7;
}

a:visited{
	color: $red;
}

a:active{
	position:relative;
	top:1px;
}