// Modules and Variables
@import "partials/base";
nav {
  position: absolute;
  right: 2em;
}

nav ul{
   list-style: none;
}
nav li a {
  border-left: 1px solid $grey-light;
  color: $grey-medium!important;
}

nav li:first-child a {
    border-left: 0 none;
}