// Navigation

.nav-wrap{
  width: 100%;
  position: absolute;
  z-index: 1;
 
  display: inline-block;
}

.nav-invert a {
  color: black!important;
}

nav {
  float: right;
  margin-right: 0.75em;
}

@media screen and (max-width:600px){
  nav {
}
  nav ul{
  }
  }

nav ul{
}

nav li {
  display: inline;
  list-style-type: none;
  padding-left: 20px;
  padding-right: 11px;
  /*border-left: 1px solid rgba(255,255,255,0.4);*/
}
/*
nav li:first-child  {
    border-left: 0 none;
}*/

nav li a {
  font-size: $base-font-size;
    color: white!important;
}