@media screen and (max-width: 480px){
html, body{
	font-size: 18pt;
}
}

@media screen and (min-width: 481px) and (max-width: 768px){
html, body{
	font-size: 18pt;
}
}


@media screen and (min-width: 769px){
html, body{
	font-size: 20pt;
}
}

h1, h2, h3 {
	font-family:$header-font-family;
	text-align: center;
	font-weight: $regular;
}

.site-logo{
	color: white;
	font-weight:100;
	margin-top: 0;
	font-size: 1.25em;
	font-weight: 400;
	text-align: left;
}